doctype html
html
  head
    meta(charset="utf-8")
    title Time Tracker
    link(rel="stylesheet" href="./styles/main.css" type="text/css")
  body
    div.wrapper
      div.container-left
        h1.title Это заголовок
        div.other-block Тут еще блок который такой же как и везде Тут еще блок который такой же как и везде Тут еще блок который такой же как и везде
        div.controls-tmp
          div.control.control-left <
          div.text-slider
            ul.text-slider-list
              li.text-slider-item
                div.text-block.violet
              li.text-slider-item
                div.text-block.blue
              li.text-slider-item
                div.text-block.yellow
              li.text-slider-item
                div.text-block.green
              li.text-slider-item
                div.text-block.red
          div.control.control-right >

      div.container-right
        div.photos-slider
          ul.photos-slider-list
            li.photos-slider-item
              div.photos-block.red 1
            li.photos-slider-item
              div.photos-block.green 2
            li.photos-slider-item
              div.photos-block.yellow 3
            li.photos-slider-item
              div.photos-block.blue 4
            li.photos-slider-item
              div.photos-block.violet 5

  script(src="./javascripts/main.js")
