doctype html
html
  head
    meta(charset="utf-8")
    title Time Tracker
    link(rel="stylesheet" href="./styles/main.css" type="text/css")
  body
    div.wrapper
      div.container-left
        h1.title Это заголовок
        div.other-block Тут еще блок который такой же как и везде Тут еще блок который такой же как и везде Тут еще блок который такой же как и везде
        div.text-slider
          ul.text-slider-list
            li.text-slider-item
              div.text-block.violet
            li.text-slider-item
              div.text-block.blue
            li.text-slider-item
              div.text-block.yellow
            li.text-slider-item
              div.text-block.green
            li.text-slider-item
              div.text-block.red
        div.controls-tmp
          div.control.control-left <
          div.control.control-right >
      div.container-right
        div.photos-slider
          ul.photos-slider-list
            li.photos-slider-item
              div.photos-block.red
            li.photos-slider-item
              div.photos-block.green
            li.photos-slider-item
              div.photos-block.yellow
            li.photos-slider-item
              div.photos-block.blue
            li.photos-slider-item
              div.photos-block.violet

  script(src="./javascripts/main.js")
